@model GitNpmRegistry.JSAppModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    @foreach (var meta in Model.Meta)
    {
        <text>@Html.Raw(meta)</text>
    }
    <title>@Model.Title</title>
    <script src="@Html.Raw(Model.UMDScriptSrc)"></script>
</head>
<body>
    <script>
        @foreach (var module in Model.Modules) {
            @: UMD.map("@module.Key", "@module.Value");
            @:
        }
        @Html.Raw(Model.StartScript);
    </script>
</body>
</html>
